---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/195408520793494?access_token=1526814430954328%7C1bd1051b2e630584a5fa01a8ebf21cad&fields=created_time,description,from,length,picture,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bff58695ffd0e97bf578e9779597790ed3d9a6e8"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: ASCII-8BIT
      string: '{"created_time":"2015-10-30T16:30:01+0000","from":{"name":"Republique
        D''Eg\u00fces","id":"171086066559073"},"length":26.459,"picture":"https:\/\/scontent.xx.fbcdn.net\/v\/t15.0-10\/p128x128\/12105557_195409484126731_875852838_n.jpg?oh=8ff787db9bb117e033d2e91f0e6d5401&oe=592878B4","title":"Hank
        listens to Bolivarian Music","id":"195408520793494"}'
  recorded_at: Tue, 07 Mar 2017 04:11:50 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/171086066559073/picture?access_token=1526814430954328%7C1bd1051b2e630584a5fa01a8ebf21cad&redirect=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"859b45a4fec3d73596e5aabdfe7d389e7fa9a357"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"is_silhouette":false,"url":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/c1.0.50.50\/p50x50\/17155423_417627051904972_2493566446878299883_n.jpg?oh=75bb8bd42482829018c2fac41838673a&oe=593BFA94"}}'
  recorded_at: Tue, 07 Mar 2017 04:11:50 GMT
recorded_with: VCR 3.0.3
