---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/1071390929550268?access_token=1526814430954328%7C1bd1051b2e630584a5fa01a8ebf21cad&fields=created_time,description,from,length,picture,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported get request. Object
        with ID '1071390929550268' does not exist, cannot be loaded due to missing
        permissions, or does not support this operation. Please read the Graph API
        documentation at https://developers.facebook.com/docs/graph-api"
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Unsupported get request. Object with ID ''1071390929550268''
        does not exist, cannot be loaded due to missing permissions, or does not support
        this operation. Please read the Graph API documentation at https:\/\/developers.facebook.com\/docs\/graph-api","type":"GraphMethodException","code":100,"fbtrace_id":"Hvbsi+ugbj6"}}'
  recorded_at: Tue, 07 Mar 2017 04:11:49 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/1071390929550268?access_token=CAAVsoSZCLg1gBAAkLwFapDOQrZC4Tz84JVb80YKXL4i9kNNcmhGXtxeVG7ZAYZCFVWBZADqZAfeLCiiqIoSEQZCZAFhXKLmZCDkauIw4VNTAhMcUxAM5lVkaHHJQzjTG5ZAXO6zjdNA16dDZCL42GmKrmZBjZCdHxIZCXmUirJyxCg1zyvi1DXnV7m8dsntCYk0ySq5Oy0GNZC3uM176wZDZD&fields=created_time,description,from,length,picture,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - 'OAuth "Facebook Platform" "invalid_token" "Error validating access token:
        Session has expired on Thursday, 24-Mar-16 01:00:00 PDT. The current time
        is Monday, 06-Mar-17 20:11:51 PST."'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Error validating access token: Session has expired
        on Thursday, 24-Mar-16 01:00:00 PDT. The current time is Monday, 06-Mar-17
        20:11:51 PST.","type":"OAuthException","code":190,"error_subcode":463,"fbtrace_id":"AZEpDc7x5zJ"}}'
  recorded_at: Tue, 07 Mar 2017 04:11:51 GMT
recorded_with: VCR 3.0.3
